<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal"><%=@place.place_name%></h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title"><%= @place.place_rating %><small class="text-muted">/ 5</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li><%= @place.location %></li>
          <li><%= @place.description %></li>
        </ul>
        <form action="/place/<%= @place.id %>" method="post">
          <% if logged? %>
          <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Send comment</button>
          <% else %>
          <button type="submit" class="btn btn-lg btn-block btn-outline-primary" disabled>Pls, login</button>
          <% end %>
          <hr>
          <input type="text" id="inputEmail" class="form-control" placeholder="Comment" required autofocus name="title">
          <hr>
          Rating:
          <select name="rating" value="1">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </form>
        <hr>
        <% @place.comments.each do |comment| %>
        <div>
          <hr>
          <div class="card-header">
            <h4 class="my-0 font-weight-normal"><%=User.find(comment.user_id).username%></h4>
            <h6 class="my-0 font-weight-normal"><%= comment.title %></h6>
            <h1 class="card-title pricing-card-title"><%= comment.rating %><small class="text-muted">/ 5</small></h1>
          </div>
          <hr>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
