<%= erb :main %>
<div class='container' style='margin-top:25px' >
  <section class="card wow fadeIn" style="background-image: url(&quot;https://mdbootstrap.com/img/Photos/Others/gradient1.jpg&quot;);">
    <div class="card-body text-white text-center py-5 px-5 my-5">
      <h1 class="mb-4">
        <strong>Cafe <%= @restaurant.name %></strong>
      </h1>
      <p class="mb-4">
        <strong> <%=@restaurant.short_description  %></strong>
      </p>
    </div>
  </section>
  <section>
    <div>
    </div>
  </section>
  <section>
    <div class="comments-list text-center text-md-left mb-5">
        <div class="text-center mb-4">
            <h3 class="font-weight-bold pt-3 mb-5">Comments <span class="badge pink">count comments</span></h3>
        </div>
        <!--First row-->
        <% if session[:user_id]%>
          <form action="/restaurant/<%= @restaurant.id%>" method='POST' class="md-form">
            <div class="md-form">
              <input required type="text" id="title" class="form-control" placeholder='Title' name='title'>
              <textarea required id="short_discription" class="md-textarea form-control" placeholder='Comment text' name='short_description' ></textarea>
              <input type="submit" class='btn btn-primary' value='Send' >
            </div>
        </form>
        <%end%>
        <% @reviews.n(@user_names) do |review, user_name| %>
          <div class="row mb-4">
              <div class="col-sm-10 col-12">
                      <h4> <%=user_name%></h4>
                      <h4 class="font-weight-bold"><%= review.title%></h4>
                  <div class="mt-2">
                      <ul class="list-unstyled">
                          <li class="comment-date"></li>
                      </ul>
                  </div>
                  <p class=" grey-text">
                    <%= review.comment%>
                  </p>
              </div>
          </div>
        <% end%>
        <!--/.First row-->
       
    </div>
  </section>
</div>