<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
      <img class="rounded mx-auto d-block" src="<%= @place.image_url %>" style="width:500px; height: 500px" alt="Place image">
    </div>
    <div class="col-sm-4">
      <h1 class="text-center"><%= @place.name %></h1 class="text-center">
      <h3 class="text-center">
        Рейтинг <%= @place.rating %><span class="fa fa-star"></span>
      </h3>
      <h4 class="text-center"><%= @place.address %></h4>
      <p><%= @place.short_description %></p>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="row">
        <p><%= @place.description %></p>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
<div class="col-sm-2"></div>
<div class="col-sm-8">
  <% if @users.empty? %>
        <h3 class="text-center">No comments</h3>
  <% else %>
    <% @comments.zip(@users) do |comment, user| %>
      <div class="card card-body m-1">
        <h4 class="card-subtitle mb-2 text-muted">
          <%= user.name %>
          <span class="fa fa-star"></span><%= comment.star %>
        </h4>
        <p class="card-text"><%= comment.text %></p>
      </div>
    <% end %>
  <% end %>

  <% if session[:user_id] %>
    <div class="w3-light-grey w3-padding-large w3-padding-16 w3-margin-top w3-margin-bottom" id="contact">

      <form action="/comments" method="post">
        <div class="w3-center h4">
          <label>Leave your comment</label>
          <textarea class="w3-input w3-border" type="text" name="comment" <% if @comment.star %>required></textarea>
        </div>
        <div id="reviewStars-input">
          <input id="star-4" type="radio" name="star" value="5" />
          <label title="gorgeous" for="star-4"></label>

          <input id="star-3" type="radio" name="star" value="4" />
          <label title="good" for="star-3"></label>

          <input id="star-2" type="radio" name="star" value="3"/>
          <label title="regular" for="star-2"></label>

          <input id="star-1" type="radio" name="star" value="2"/>
          <label title="poor" for="star-1"></label>

          <input id="star-0" type="radio" name="star" value="1"/>
          <label title="bad" for="star-0"></label>
        </div>
        <input value="<%= session[:user_id] %>" type="hidden" name="user_id">
        <input value="<%= @place.id %>" type="hidden" name="id">
        <button type="submit" class="w3-button w3-right w3-padding-large w3-dark-grey">Send</button>
      </form>
      <br>
    </div>
  <% else %>
    <div class="w3-light-grey w3-padding-large w3-padding-32 w3-margin-top" id="contact">
      <h5 class="w3-center">
        If you want to create a comment. Please,
        <a href="/register"> REGISTER </a> or <a href="/login"> SIGN IN </a>
      </h5>
    </div>
  <% end %>
</div>
</div>
<div class="col-sm-2"></div>
