<div class="row m-4">
  <div class="card">
    <div class="place-background">
      <div class="card-body">
        <h3 class="card-title text-center"><%= @place.name %>
          <button class="btn btn-<%if @average_score && @average_score > 2 %>success<%else%>danger<%end%> btn-lg" disabled>
            <span class="fas fa-thumbs-up"></span>   <%= @average_score%>
          </button>
        </h3>
        <h6 class="card-subtitle mb-2 text-muted text-center"><%= @place.location%></h6>
        <img class="rounded mx-auto d-block" src=<%= @place.image_url %>>
        <p class="card-text m-4">  <%= @place.full_description %></p>
      </div>
    </div>
  </div>
</div>

<div class="row m-4">
  <form action='/reviews/' id='addForm' method='POST' class="mb-3 mt-3 was-validated">
    <% if current_user? %>
      <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#comment" 
      class="button-background">Send feedback</button>
    <% end %>
    <%= erb :comment_modal_form%>
  </form>
</div>

<% @reviews.each do |review| %>
  <div class="row">
    <div class="card card-body m-1">
      <h6 class="card-subtitle mb-2 text-muted">Author: <%= review.user.name %></h6>
      <h6 class="card-subtitle mb-2 text-muted">Date: <%= review.created_at %></h6>
      <p class="card-text"><%= review.text %>
        <button class="btn btn-<%if review.grade >2 %>success<%else%>danger<%end%> btn-sm float-right"  disabled>
        <span class="fas fa-thumbs-up"></span> <%= review.grade%>
        </button>
      </p>
    </div>
  </div>
<% end %>
