<div>
    <hr>
    <h4><%= @restaurant.name %></h4>
    <%= @restaurant.location %>
    <%= @restaurant.description %>
    <%= @restaurant.rating.class.to_s %>
</div>

<br>
<h4>Reviews:</h4>

<% @restaurant.reviews.each do |review| %>
    <div>
        <hr>
        <%= review.description %> |
        by user: <%= review.user[:username] %> |
        rating: <%= review.rating %>
    </div>
<% end %>
