<div>
    <hr>
    <h4><%= @restaurant.name %></h4>
    <%= @restaurant.location %>
    <%= @restaurant.description %>
    <%= @restaurant.rating.class.to_s %>
</div>

<br>
<h4>Reviews:</h4>

<% @restaurant.reviews.each do |review| %>
    <div>
        <hr>
        <%= review.description %> |
        by user: <%= review.user[:username] %> |
        rating: <%= review.rating %>
    </div>
<% end %>

<form method="POST" action="/add_review">
  <hr>
  <h3>Add your review:</h3>
  <p>description: <input type="text" name="description"></p>
  <p>rating: <input type="text" name="rating"></p>
  <input type="submit">
  <input type="hidden" name="restaurant_id" value=<%= @restaurant[:id]%> />
  <input type="hidden" name="user_id" value=<%=session[:id]%> />
</form>
