<div class="row m-3">
  <div class="col-md-6">
    <div class="card">
        <div class="card-body bg-light">
            <h3 class="card-title text-center"><%= @place.name %>
              <button class="btn btn-<%if @average_score && @average_score > 2 %>success<%else%>danger<%end%> btn-lg"  disabled>
                <span class="fa fa-star"></span>   <%= @average_score%>
              </button>
            </h3>
            <h6 class="card-subtitle mb-2 text-muted text-center"><%= @place.location%></h6>
            <img src=<%= @place.path_to_image %> class="img-thumbnail">
            <p class="card-text">  <%= @place.full_description %></p>
        </div>
    </div>
  </div>

  <div class="col-md-6">
    <form action='/new_review/<%=@place.id%>' id='addForm' method='POST' class="mb-3 mt-3 was-validated">
      <% if session[:user_id] %>
        <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#comment">Send feedback</button>
      <% end %>
      <!-- Modal -->
      <div class="modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Review</h5>
              <button type="button" class="close" onclick="document.getElementById('addForm').reset()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">                
              <div class='row'>
                <div class='col-md-1'>
                  <button class="btn btn-success btn-sm" disabled>
                    <span class="fa fa-star"></span>
                  </button>
                </div>
                <div class="col">
                  <select class="form-control mb-3" style='width: 80px;' name='grade'>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col mb-3 form-group">
                  <textarea style="height: 250px;" type="text" name="text" class="form-control" placeholder="Text" required></textarea>
                  <div class="invalid-feedback">Fill in this field</div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="document.getElementById('addForm').reset()">Cancel</button>
              <button type="submit" class="btn btn-dark">Send</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <% @review.each do |review| %>
      <div class="card card-body m-1">
          <h6 class="card-subtitle mb-2 text-muted">Author: <%= review.user.name %></h6>
          <h6 class="card-subtitle mb-2 text-muted">Date: <%= review.created_at %></h6>
          <p class="card-text"><%= review.text %>
            <button class="btn btn-<%if review.grade >2 %>success<%else%>danger<%end%> btn-sm float-right"  disabled>
              <span class="fa fa-star"></span>   <%= review.grade%>
            </button>
          </p>
      </div>
    <% end %>
  </div>
</div>
