<h1>Besttaste</h1>
<h4>Please sign up or log in</h4>
  <a href="/registrations/signup">Sign Up</a>
  <a href="/sessions/login">Log In</a>
<p>
  <a href="/index">list of users</a>
</p>
<div class="card-columns">
  <% @restaurants.each do |restaurant| %>
    <div class="card">
      <div class="card-body">
        <a href="<%=restaurant.name %>" ><h5 class="card-title"><%= restaurant.name %></h5> </a>
<!--        <h6 class="card-subtitle mb-2 text-muted"> Average grade : <%#= restaurant.reviews.average(:grade)%></h6>-->
        <p class="card-text"><%= restaurant.description %></p>
        <p class="card-text"><small class="text-muted"><%= restaurant.latitude %> <%= restaurant.longitude %></small></p>
      </div>
    </div>
  <% end %>
</div>
