<h1>Страница заведения</h1>
<div class="card">
  <h2>Рейтинг(<%= @place.rating.round(2) %>)</h2>
  <h5 class="card-header"><%= @place.name %></h5>
  <div class="card-body">
    <h5 class="card-title"><%= @place.description %></h5>
    <p class="card-text"><%= @place.latitude %></p>
    <p class="card-text"><%= @place.longitude %></p>
  </div>
</div>
</br>
<% if current_user %>
  <%= erb :'partials/comment_form' %>
<% end %>
</br>
<h2>Комментарии(<%= @place.comments.size %>):</h2>
<%= erb :'partials/comments_view' %>
