<% if flash[:notice] %>
<div class="alert alert-danger" role="alert">
  <%= flash[:notice] %>
</div>
<% end %>
<h1>Страница заведения</h1>
<div class="card">
  <h2>Рейтинг(<%= @place.rating.round(2) %>)</h2>
  <h5 class="card-header"><%= @place.name %></h5>
  <div class="card-body">
    <h5 class="card-title"><%= @place.description %></h5>
    <p class="card-text"><%= @place.latitude %></p>
    <p class="card-text"><%= @place.longitude %></p>
  </div>
</div>
</br>
<% if current_user %>
<form class="form" action="/places/<%= @place.id %>/comments" method="post">
  <div class="form-group">
    <label>Оценка</label>
    <select class="form-control" name="rating">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label>Отзыв</label>
    <textarea class="form-control" name="text" rows="3"></textarea>
  </div>
  <input type="submit" class="btn btn-success" value="Опубликовать" />
</form>
<% end %>
</br>
<h2>Комментарии(<%= @place.comments.size %>):</h2>
<% @place.comments.each do |comment| %>
  <div class="card bg-light mb-3">
    <div class="card-header"><%= comment.user.name %></div>
    <div class="card-body">
      <h5 class="card-title"><%= comment.rating %></h5>
      <p class="card-text"><%= comment.text %></p>
      <h5 class="card-title">Оценка: <%= comment.rating %></h5>
    </div>
  </div>
<% end %>
