<div class="row">
  <% @restaurants.each do |rest| %>
    <div class="col-md-4">
      <div class="thumbnail">
          <h3> <%= link(rest.name, href = "restaurants/#{rest.id}") %></h3>
          <%= image(rest.photo, options={style: "width:100%"}) %>
          <div class="caption">
          	<h4>RATING: <%= rest.rating %></h4>
            <p><%= rest.location %></p>
            <p><%= rest.min_description %></p>
          </div>
      </div>
    </div>
  <% end %>
</div>