<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Best restraunt resource</title>
    <!-- Bootstrap core CSS -->
    <link href="<%= url('/vendor/bootstrap/css/bootstrap.min.css') %>" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="<%= url('/public/stylesheets/restraunts.css') %>" rel="stylesheet">
    <link href="<%= url('/public/stylesheets/restraunt.css') %>" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">
            RestoApp
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"     aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <p class="nav-link" href=""> 
                        <%= session[:name] %>
                        </p>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <% if session[:name].present? %>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    <% else %>
                        <li class="nav-item">
                            <a class="nav-link" href="/account/new">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <%= yield %>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Rubizza &copy; Camp 3#Homework App</p>
        </div>
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="<%= url('vendor/jquery/jquery.min.js') %>"></script>
    <script src="<%= url('vendor/bootstrap/js/bootstrap.bundle.min.js') %>"></script>
</body>

</html>