<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Best restraunt resource</title>
    <!-- Bootstrap core CSS -->
    <link href="<%= url('/vendor/bootstrap/css/bootstrap.min.css') %>" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="<%= url('/public/stylesheets/restraunts.css') %>" rel="stylesheet">
    <link href="<%= url('/public/stylesheets/restraunt.css') %>" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="col-md-12 col-lg-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Welcome back!</h3>
                            <form method="POST" action="/sign_in">
                                <div class="form-label-group">
                                    <label for="inputEmail">Email address</label>
                                    <input name="email" class="form-control" placeholder="Email address" required autofocus>
                                </div>
                                <br>
                                <div class="form-label-group">
                                    <label for="inputPassword">Password</label>
                                    <input name="password" class="form-control" placeholder="Password" required>
                                </div>
                                <br>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Remember password</label>
                                </div>
                                <button class="btn btn-lg btn-light btn-outline-dark btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign in</button>
                                <div class="text-center">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- Bootstrap core JavaScript -->
<script src="<%= url('vendor/jquery/jquery.min.js') %>"></script>
<script src="<%= url('vendor/bootstrap/js/bootstrap.bundle.min.js') %>"></script>
</body>

</html>