<h4>Hello <%= @current_user.username %></h4>
<a href="/login">Log In</a>
<a href="/logout">Log Out</a>

<% for location in @locations %>
  <h2><%= location.name %></h2>
  <p><%= location.description %></p>
<% end %>

<% for user in @users %>
  <h2><%= user.username %></h2>
  <p><%= user.email %></p>
<% end %>