<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= @restaurant.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= @restaurant.reviews.average(:grade)%></h6>
        <p class="card-text"><%= @restaurant.description %></p>
        <p class="card-text">
          <small class="text-muted"><%= @restaurant.latitude %> <%= @restaurant.longitude %></small>
        </p>
      </div>
    </div>
  </div>


  <div class="col">
    <% @restaurant.reviews.each do |review| %>
      <div class="card ">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <div class="h5"><%= review.user.login %></div>
            <div class="h6"><%= review.grade %> star(s)</div>
          </div>

        </div>
        <div class="card-body">
          <p class="card-text">
            <%= review.text %>
          </p>
        </div>
      </div>
    <% end %>
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#" role="tab" aria-controls="posts" aria-selected="true">Make
              a review</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
            <form action='/review/new' method="post">
              <select name="grade" class="form-control">
                <option value="1">1 star</option>
                <option value="2">2 star</option>
                <option value="3">3 star</option>
                <option value="4">4 stars</option>
                <option value="5">5 stars</option>
              </select>
              <div class="form-group">
                <label class="sr-only" for="message">post</label>
                <textarea class="form-control" id="message" rows="3" name="text" placeholder="What are you thinking?"></textarea>
              </div>

              <div class="btn-toolbar justify-content-between">
                <div class="btn-group">
                  <button type="submit" class="btn btn-primary">publish!</button>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>