<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title></title>
  </head>
  <body>
<div>
  <% if session[:users_id] %>
      <button class="w3-button w3-green w3-large"><a href="/logout">Выйти</a></button>
  <% else %>
  <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-green w3-large"><a href="/home">Войти</a></button>
  <button class="w3-button w3-green w3-large"><a href="/registration">Регистрация</a></button>
  <% end %>
</div>
<h1><%= @place.name %></h1>
   <div>
     <p><%= @place.description %></p>
     <p><label>Адрес: </label><%= @place.location %></p>
     <p><label>Средняя оценка </label><%= @place.score %></p><br>
   </div>
   <div>
     <% @reviews.each do |comment| %>
       <%= comment.users.name %><br>
       <%= comment.text %><br>
       <%= comment.score %><br><br>
     <% end %>
   </div>
   <% if session[:users_id] %>
   <form class="comment" method="post" action="/leave_comment">
     <div>
       <input title="Ваш комментарий" type="text" name="text" required><br>
       <input title="Ваша оценка заведению" name="score" type="number" min="1" max="5" step="1" required><br><br>
      <% session['rest_id'] = @place.id %>
    </div>
    <button>Оставить комментарий</button><br>
  </form>
  <% end %>
<div>

</div>

  </body>
</html>
