<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @restaurant.name %></title>
  <link rel="stylesheet" type="text/css" href="/css/theme.css">
</head>
  <body>
    <% if session[:user_id] %>
      <h4><a href="/logout">Выйти</a></h4>
    <% else %>
      <h4 align='left'><a href="/login">Войти</a> / <a href="/registration">Зарегистрироваться</a></h4>
    <% end %>
    <h1 align='center'><%= @restaurant.name %></h1>
    <div>
      <p><%= @restaurant.full_description %></p>
      <p><label>Адрес: </label><%= @restaurant.location %></p>
      <p><label>Средняя оценка пользователей: </label><%= @restaurant.score.truncate(2) %></p><br>
    </div>
    <div>
      <% @comments.each do |comment| %>
        <%= comment.user.name %><br>
        <%= comment.text %><br>
        <%= comment.score %><br><br>
      <% end %>
    </div>
    <% if session[:user_id] %>
    <form class="comment" method="post" action="/leave_comment">
      <% if flash[:message] %>
        <b><i><p class="message"><%= flash[:message] %></p></i></b>
      <% end %>
      <div>
        <input title="Ваш комментарий" type="text" name="text"><br>
        <input title="Ваша оценка заведению" name="score" type="number" min="1" max="5" step="1"><br><br>
        <% session['rest_id'] = @restaurant.id %>
      </div>
      <button>Оставить комментарий</button><br>
    </form>
    <% end %>
    <p><a href="/restaurants" />На главную</p>
  </body>
</html>
